<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav" id="nv">
          
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <!--  <li> <div class="not"> <a href="#"><img src="Public/img/53.png"></a> </div> </li>  -->        
                <li> 
                      <div class="mess"><a href="{{ path('piledgeMessage_inbox') }}" style="color:"><img src="{{ asset('img/7.png') }}"><span class="badge badge-info">{% if -1  > 0 %}{{ msg_unread.count }} {% endif %}</span></a>
                      </div> 
                </li>
                    
               <li><a href="{{ path('piledgeAuthor_feed', {'username': app.user.getAuthorUsername }) }}">
                   {% if not 0 %}
                       <img src="{{ asset('img/default.png') }}" style="height: 22px; width: 22px;" />
                   {% else %}
                       <img src="{{ author.avatar_22x22 }}" style="height: 22px; width: 22px;" />
                   {% endif %}
                   <strong>{{ app.user.getAuthorUsername }}</strong></a>
               </li>
            <li>
                  <div class="dropdown">
	           
                                <a class="account" style="text-decoration: none;">Account</i></a>

                               <div class="submenu">
                                    <ul class="root">
                                    <li ><a href="#Dashboard" >Dashboard</a></li>
                                    <li ><a href="{{ path('piledgeAuthor_profile', {'username': app.user.getAuthorUsername }) }}" >Profile</a></li>
                                    <li ><a href="#settings">Settings</a></li>
                                    <li ><a href="{{ path('logout') }}">Logout</a></li>
                                    </ul>
                               </div>

                  </div>     
                                                                                                                                                 
            </li>


          {% else %}

              <li style="margin-right: 200px;"><a href="{{ path('login') }}"><strong>Login</strong></a></li>

          {% endif %}
        </ul>
         
        <ul class="nav" id="logo">
          <li><a href="{{ path('piledgeGle_homepage') }}"><img src="{{ asset('img/4.gif') }}" style="height: 15px; width: 30px;"></a></li>
        </ul>

        <ul class="nav" id="sefie">
          <li>
          
              <div class="input-append">
                  <form method="get" action="search.php">
                      <input class="input-xxlarge" class="span2" id="appendedInputButtons" type="text" name="search">
                      <button type="submit" class="btn" type="button"><i class="icon-search"></i></button>
                 </form> 
              </div>

          </li>
       </ul>
     </div>
  </div>
