
<ul class="nav nav-tabs" style="-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 5px; padding-bottom: 0px; height: 50px;">

  <center> <li style="margin-top: 15px;"><h4>New Message</h4></li> </center>

</ul>
       <center> 
           <span style="color: red; background-color: #e8e9ea;">
            {{ form_errors(form) }}
            {% for error in errors %}
                {{ error.message }} <br/>
            {% endfor %}
           </span> 
       </center>
<div class="input-prepend">
    <form enctype="multipart/form-data"  method="post" action="{{ path('piledgeMessage_new') }}">
        <input type="hidden" name="ap" value="{{ app.user.getAuthorUsername }}">
        <span class="add-on">To</span>
            {{ form_widget(form.message_receiver_username, {'attr': {'placeholder': 'Username', 'class': 'span2'}}) }} <br/><br/> 

        <span class="add-on">Subject</span>
        {{ form_widget(form.message_subject, {'attr': {'placeholder': 'Description'}}) }} <br/><br/> 

        {{ form_widget(form.message_content, {'attr': {'placeholder': 'Write your message...'}}) }}

        {{ form_rest(form) }}

       <div>
           <button type="submit"  name="submit" class="btn" style="float: right; margin-right: 50px; width: 100px;">Send</button>
       </div>

    </form>
</div>
