{% extends "PiledgeDocumentBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - {{ doc.document_title }} {% endblock %}

{% block form_field %}

{% if doc.document_pdf_name %}
    {% set pdf_name = doc.document_pdf_name %}
    {% set file_name = doc.document_pdf_name %}
    <iframe id="viewer" src="{{ asset('Viewer.js/index.html') }}#{{ asset(pdf_name) }}" width='724' height='500' allowfullscreen webkitallowfullscreen></iframe>
{% else %}
    <iframe id="viewer" src="{{ asset('Viewer.js/index.html') }}#{{ asset(file_name) }}" width='724' height='500' allowfullscreen webkitallowfullscreen></iframe>
{% endif %}

 
  <div class="show-file-title"> 

      <h3> {{ doc.document_title }} </h3> 
      <span style="float: left;">
         
         <strong> <a href="myactivities.php?username={{ doc.author.author_username }}">{{ doc.author.author_username|title }}</a> </strong>
         {{ doc.document_created_at|date('d/m/y') }}
     </span>
      <button class="btn btn-success" style="margin-left: 470px;"><i class="icon-download"></i><a href="download.php?id={{ doc.document_id }}" style="text-decoration: none;">Download</a></button>
  <br/> 
 {#
  <div style="float: left; border-bottom: 1px solid #b5bbbf;"> 
      {% if count <= 2 %} 
          {{ count }} comments 
     {% elseif count > 2 %} 
          <a href="#" class="comments-list" id="{{ f.file_id }}"> View {{ scount }} more comments </a> 
      {% else %} 
          No comments for this document, be the first to add a comment 
      {% endif %} 
  </div>

  <img src="Public/img/small_loader.gif" class="loading" style="width: 30px; height: 30px; float: left; margin-left: 7px; margin-top: -5px;"> 
  </div>
   
   <br/>

  #}

 <hr/> 
 {% if is_granted('ROLE_AUTHOR') %}
    
      {%if coms %}
          {% include 'PiledgeCommentBundle:Comment:list_comments.html.twig' %}
      {% endif %}

      {% include "PiledgeCommentBundle:Comment:comment_form.html.twig" %} <br/><br/> 

 {% endif %}
 
 {#
 {% else %}
    <h4> You need to connect for leave a connect. <a href="login.php">Login</a> </h4>
    {% include 'file/list_comments.html' %}
 {% endif %}
#}

{% endblock %}
