{% extends "PiledgeDocumentBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Upload a document {% endblock %}

{% block form_field %}
   
   <div>
   
    <ul class="nav nav-pills" style="height: 20px;">
  <li class="active">
    <a href="#">Upload a document</a>
  </li>    
  <li><a href="#">Write a full document</a></li>
  <li><a href="#">Write a topic</a></li>
</ul>
  
  </div>
     
     

          
         
         <form action="{{ path('piledgeDocument_upload') }}" method="post" style="width: 400px; margin-left: -200px;" class="form-horizontal" id="form_doc_upload" {{ form_enctype(form) }}>
             {# csrf_token #}

             <div style="width: 800px; margin-left: 20px;">
                 <h6>Upload a document and share it with the world!</h6><hr/>
             </div>

             <div>

             {{ form_errors(form) }}

             <div class="control-group"> 
                 <div style="color: red; margin-left: 200px;">{# form.doc_file_name.errors #}</div>
                 <label class="control-label" for="piledge_documentbundle_document_file">Select a document: </label>
                 <div class="controls">
                     {{ form_widget(form.file) }}
                 </div>
             </div>

             <div class="control-group">
                 <div style="color: red; margin-left: 200px;">{# form.doc_title.errors #}</div>
                 <label class="control-label" for="piledge_documentbundle_document_document_title" class="required">Title: </label>
                 <div class="controls">
                     {{ form_widget(form.document_title, {'attr': {'placeholder': 'Title'}}) }}
                 </div>
             </div>

             <div class="control-group">
                 <div style="color: red; margin-left: 200px;">{# form.doc_description.errors #}</div>
                 <label class="control-label" for="piledge_documentbundle_document_document_description" class="required">Description: </label>
                 <div class="controls">
                     {{ form_widget(form.document_description, {'attr': {'placeholder': 'Description'}}) }}
                 </div>
             </div>

             <div class="control-group">
                 <div class="controls"> 
                     <button type="submit" class="btn btn-primary" style="float: left;">Upload now >></button>
                 </div>
             </div>

                 {{ form_rest(form) }}
             
             </div>

         </form>


          
       
        



{% endblock %}
