{% extends "PiledgeGleBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Home {% endblock %}
{% block file_list %} 
    {# <p>Hello, welcome to Piledge!</p> #}

<span style="font-size: 25px; margin-left: 25px;">Last files added</span> <br /> 

<div class="span7" class="current" style="border-radius: 6px; border: 1px solid #F5F5F5;">
     
    {% for r in " " %}
        {% if 0 %}
        {# {% if r.file_thumb_name %} #}

               
              <div  class="current-avatar" style="margin-left: 15px; margin-top: 10px;"> 

                  {% if r.avatar_50x50 %}
                     <a href="myactivities.php?username={{ r.author_pseudo }}"><img src="{{ r.avatar_50x50 }}" alt="Avatar" style="width: 50px; height: 50px;" /></a>
                  {% else %}
                     <a href="myactivities.php?username={{ r.author_pseudo }}"><img src="Public/img/default.png" alt="Avatar" style="width: 50px; height: 50px;"/></a>
                       
                  {% endif %}
                        
              <span style="float: right;"> {# ago(r.file_created_at) #} </span> </div>
              
              <table>
                 <tr>   
                    <td>
                    <div class="current-thumb">
                        <span style="margin-left: 0px; margin-bottom: -80px;"> <strong> <a href="myactivities.php?username={{ r.author_pseudo }}">{{ r.author_pseudo |title }}</a> </strong> </span> <br/>
                        <a href="show.php?fid={{ r.file_id }}"><img src="{{ r.file_thumb_name }}" alt="Document thumbnail" style="border: 1px solid #F5F5F5;" /></a> 
                    </div>  
                    </td>
                    <td> 
                        <div class="current-properties"> 
                          <span class="current-title"> <a href="show.php?fid={{ r.file_id }}" style="color: #484a4c;">{{ r.file_title }}</a></span>
                            <br /> 
                          <p> <span class="current-descriptin">  {{ r.file_description }}  </span> </p>
                          <br />
                          <span class="cps"> {% if r.file_comments_count %}  <a href="show.php?fid={{ r.file_id }}" class="lcomment">{{ r.file_comments_count }} comments</a> {% else %} No comments {% endif %} -  {{ r.file_pages_number }} pages - {{ r.file_size }} </span>

                        </div> 
                   </td>
                  </tr>
              </table>

               <hr/>



        {% else %}



                <div class="current-avatar" style="margin-left: 20px;"> Avatar <span style="float: right;"> {# ago(r.file_created_at) #} </span> </div>
               
                <table>
                    <tr>
                        <td> <div class="current-thumb"> <img src="docs/thumbnails/no_thumb.jpg" alt="No thumbnail" style="border: 1px solid #F5F5F5; width: 150px; height: 200px;" /> </div> </td>
                        <td>
                            <div class="current-properties">
                             <span class="current-title"> <a href="show.php?id={{ r.file_id }}" style="color: #484a4c;">{{ r.file_title }}</a> </span>
                                <br />
                            <p> <span class="current-description">  {{ r.file_description }}  </span> </p>
                            <br />
                            <span class=""> {{ r.file_size }} </span>
                            </div>
                        </td>
                     </tr>
                </table>
                 
                 <hr/>
          
        {% endif %}
    {% endfor %}
  
</div>     

{% endblock %}
