{% extends "PiledgeGleBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Home {% endblock %}
{% block file_list %} 
    {# <p>Hello, welcome to Piledge!</p> #}

<span style="font-size: 25px; margin-left: 25px;">Last files added</span> <br /> 

<div class="span7" class="current" style="border-radius: 6px; border: 1px solid #F5F5F5;">
     
    {% for d in documents %}
        {% if d.document_thumb_name is not null %}
               
              <div  class="current-avatar" style="margin-left: 15px; margin-top: 10px;"> 

                  {% if 0 %}
                     <a href="myactivities.php?username="><img src="" alt="Avatar" style="width: 50px; height: 50px;" /></a>
                  {% else %}
                     <a href="myactivities.php?username="><img src="{{ asset('img/default.png') }}" alt="Avatar" style="width: 50px; height: 50px;"/></a>
                       
                  {% endif %}
                        
              <span style="float: right;"> {{ d.document_created_at|date('d/m/y') }} </span> </div>
              
              <table>
                 <tr>   
                    <td>
                    <div class="current-thumb">
                        <span style="margin-left: 0px; margin-bottom: -80px;"><strong><a href="{{ path('piledgeAuthor_feed', {'username': d.author.author_username}) }}"></a>{{ d.author.author_username }}</strong> </span> <br/>
                        <a href="{{ path('piledgeDocument_show', {'id': d.document_id}) }}"><img src="{{ asset(d.document_thumb_name) }}" title="{{ d.document_title }}" alt="{{ d.document_title }}" style="border: 1px solid #F5F5F5;" /></a> 
                    </div>  
                    </td>
                    <td> 
                        <div class="current-properties"> 
                          <span class="current-title"> <a href="{{ path('piledgeDocument_show', {'id': d.document_id}) }}" style="color: #484a4c;">{{ d.document_title }}</a></span>
                            <br /> 
                          <p> <span class="current-descriptin">{{ d.document_description }}</span></p>
                          <br />
                          <span class="cps"> {% if 0 %}  <a href="{{ path('piledgeDocument_show', {'id': d.document_id}) }}" class="lcomment">0 comments</a> {% else %} No comments {% endif %} -  {{ d.document_number_of_page }} pages - {{ d.document_size }} </span>

                        </div> 
                   </td>
                  </tr>
              </table>

               <hr/>

{% else %}



                <div class="current-avatar" style="margin-left: 20px;"> Avatar <span style="float: right;">{{ d.document_created_at }}</span></div>
               
                <table>
                    <tr>
                        <td> <div class="current-thumb"> <img src="docs/thumbnails/no_thumb.jpg" alt="No thumbnail" style="border: 1px solid #F5F5F5; width: 150px; height: 200px;" /> </div> </td>
                        <td>
                            <div class="current-properties">
                             <span class="current-title"> <a href="{{ path('piledgeDocument_show', {'id': d.document_id}) }}" style="color: #484a4c;">{{ d.document_title }}</a> </span>
                                <br />
                            <p> <span class="current-description">  {{ d.document_description }}  </span> </p>
                            <br />
                            <span class=""> {{ d.document_size }} </span>
                            </div>
                        </td>
                     </tr>
                </table>
                 
                 <hr/>
          
        {% endif %}

       
    {% endfor %}
  
</div>     

{% endblock %}
